{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="container my-5">

    <!-- Section -->
    <section>
  
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Ophthalmos online</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Service</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">Plan your medical education and gain full visibility about global events</p>
  
      <div class="row">
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center bg-success text-white">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Discover events</a></h5>
              <p class="mb-4">Check out all global events and search for the most important.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-mobile-alt fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Personal calendar</a></h5>
              <p class="text-muted mb-4">Mark your events and personalize which topics are interesting for you.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center deep-purple lighten-1 text-white">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Digital education</a></h5>
              <p class="mb-4">Collect links to the educational vides, events and publications</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-bullhorn fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Non-profit</a></h5>
              <p class="text-muted mb-4">This service is free-of-charge for our customers and advertisement free. </p>
            </div>
          </div>
        </div>
  
      </div>
  
    </section>
    <!-- Section -->
  
  </div>
{% endblock content %}